In [1]:
import pandas as pd

In [20]:
#Reading Csv data

df=pd.read_csv("pokemon_data.csv")

# reading excel data

#df_xlsx=pd.read_excel("pokemon_data.xlsx")

# reading txt data

#df_txt=pd.read_csv("pokemon_data.txt",delimiter='\t')

In [21]:
#print(df.head(3)) ### Reading top 3 records of the data

#print(df_xlsx) ## reading excel data

#print(df_xlsx.head(3))## reading top 3 records of the excel data

print(df_txt) ## reading txt file data

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

In [ ]:
# Reading Data in pandas

# Reading headers

# Reading Columns

# Reading rows

# Reading specific location [r,c]

In [22]:
# Reading All columns

df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [46]:
# Reading a specific columns

df['Name']
df[0:5]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [30]:
# Reading multiple columns

df[['Name','Type 1','HP']].head(3) # first three values using a list we can fetch the values

        Name Type 1  HP
0  Bulbasaur  Grass  45
1    Ivysaur  Grass  60
2   Venusaur  Grass  80

In [47]:
# reading a row data

df.iloc[0:3]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

In [53]:
## Rading all row data using for loop

for index,row in df.iterrows():
    if row["Type 1"]=="Grass":
        print("the value is grass", index,row)
    print(index,row['Type 2'])

the value is grass 0 #                     1
Name          Bulbasaur
Type 1            Grass
Type 2           Poison
HP                   45
Attack               49
Defense              49
Sp. Atk              65
Sp. Def              65
Speed                45
Generation            1
Legendary         False
Name: 0, dtype: object
the value is grass 1 #                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object
the value is grass 2 #                    3
Name          Venusaur
Type 1           Grass
Type 2          Poison
HP                  80
Attack              82
Defense             83
Sp. Atk            100
Sp. Def            100
Speed               80
Generation           1
Legendary        False
Name: 2, dtype: object
the value is grass 3 #                                 3
Name          VenusaurMega Venusaur
Type 1                        Grass
Type 2                       Poison
HP                               80
Attack                          100
Defense                         123
Sp. Atk                         122
Sp. Def                         120
Speed                            80
Generation                        1
Legendary                     False
Name: 3, dtype: object
the value is grass 48 #                 43
Name          Oddish
Type 1         Grass
Type 2        Poison
HP                45
Attack            50
Defense           55
Sp. Atk           75
Sp. Def           65
Speed             30
Generation         1
Legendary      False
Name: 48, dtype: object
the value is grass 49 #                 44
Name           Gloom
Type 1         Grass
Type 2        Poison
HP                60
Attack            65
Defense           70
Sp. Atk           85
Sp. Def           75
Speed             40
Generation         1
Legendary      False
Name: 49, dtype: object
the value is grass 50 #                    45
Name          Vileplume
Type 1            Grass
Type 2           Poison
HP                   75
Attack               80
Defense              85
Sp. Atk             110
Sp. Def              90
Speed                50
Generation            1
Legendary         False
Name: 50, dtype: object
the value is grass 75 #                     69
Name          Bellsprout
Type 1             Grass
Type 2            Poison
HP                    50
Attack                75
Defense               35
Sp. Atk               70
Sp. Def               30
Speed                 40
Generation             1
Legendary          False
Name: 75, dtype: object
the value is grass 76 #                     70
Name          Weepinbell
Type 1             Grass
Type 2            Poison
HP                    65
Attack                90
Defense               50
Sp. Atk               85
Sp. Def               45
Speed                 55
Generation             1
Legendary          False
Name: 76, dtype: object
the value is grass 77 #                     71
Name          Victreebel
Type 1             Grass
Type 2            Poison
HP                    80
Attack               105
Defense               65
Sp. Atk              100
Sp. Def               70
Speed                 70
Generation             1
Legendary          False
Name: 77, dtype: object
the value is grass 110 #                   102
Name          Exeggcute
Type 1            Grass
Type 2          Psychic
HP                   60
Attack               40
Defense              80
Sp. Atk              60
Sp. Def              45
Speed                40
Generation            1
Legendary         False
Name: 110, dtype: object
the value is grass 111 #                   103
Name          Exeggutor
Type 1            Grass
Type 2          Psychic
HP                   95
Attack               95
Defense              85
Sp. Atk             125
Sp. Def              65
Speed                55
Generation            1
Legendary         False
Name: 111, dtype: object
the value is grass 122 #                 114
Name          Tangela
Type 1          Grass
Type 2            NaN
HP                 65
Attack             55
Defense           115
Sp. Atk           100
Sp. Def            40
Speed              60
Generation          1
Legendary       False
Name: 122, dtype: object
the value is grass 166 #                   152
Name          Chikorita
Type 1            Grass
Type 2              NaN
HP                   45
Attack               49
Defense              65
Sp. Atk              49
Sp. Def              65
Speed                45
Generation            2
Legendary         False
Name: 166, dtype: object
the value is grass 167 #                 153
Name          Bayleef
Type 1          Grass
Type 2            NaN
HP                 60
Attack             62
Defense            80
Sp. Atk            63
Sp. Def            80
Speed              60
Generation          2
Legendary       False
Name: 167, dtype: object
the value is grass 168 #                  154
Name          Meganium
Type 1           Grass
Type 2             NaN
HP                  80
Attack              82
Defense            100
Sp. Atk             83
Sp. Def            100
Speed               80
Generation           2
Legendary        False
Name: 168, dtype: object
the value is grass 197 #                   182
Name          Bellossom
Type 1            Grass
Type 2              NaN
HP                   75
Attack               80
Defense              95
Sp. Atk              90
Sp. Def             100
Speed                50
Generation            2
Legendary         False
Name: 197, dtype: object
the value is grass 202 #                187
Name          Hoppip
Type 1         Grass
Type 2        Flying
HP                35
Attack            35
Defense           40
Sp. Atk           35
Sp. Def           55
Speed             50
Generation         2
Legendary      False
Name: 202, dtype: object
the value is grass 203 #                  188
Name          Skiploom
Type 1           Grass
Type 2          Flying
HP                  55
Attack              45
Defense             50
Sp. Atk             45
Sp. Def             65
Speed               80
Generation           2
Legendary        False
Name: 203, dtype: object
the value is grass 204 #                  189
Name          Jumpluff
Type 1           Grass
Type 2          Flying
HP                  75
Attack              55
Defense             70
Sp. Atk             55
Sp. Def             95
Speed              110
Generation           2
Legendary        False
Name: 204, dtype: object
the value is grass 206 #                 191
Name          Sunkern
Type 1          Grass
Type 2            NaN
HP                 30
Attack             30
Defense            30
Sp. Atk            30
Sp. Def            30
Speed              30
Generation          2
Legendary       False
Name: 206, dtype: object
the value is grass 207 #                  192
Name          Sunflora
Type 1           Grass
Type 2             NaN
HP                  75
Attack              75
Defense             55
Sp. Atk            105
Sp. Def             85
Speed               30
Generation           2
Legendary        False
Name: 207, dtype: object
the value is grass 272 #                 252
Name          Treecko
Type 1          Grass
Type 2            NaN
HP                 40
Attack             45
Defense            35
Sp. Atk            65
Sp. Def            55
Speed              70
Generation          3
Legendary       False
Name: 272, dtype: object
the value is grass 273 #                 253
Name          Grovyle
Type 1          Grass
Type 2            NaN
HP                 50
Attack             65
Defense            45
Sp. Atk            85
Sp. Def            65
Speed              95
Generation          3
Legendary       False
Name: 273, dtype: object
the value is grass 274 #                  254
Name          Sceptile
Type 1           Grass
Type 2             NaN
HP                  70
Attack              85
Defense             65
Sp. Atk            105
Sp. Def             85
Speed              120
Generation           3
Legendary        False
Name: 274, dtype: object
the value is grass 275 #                               254
Name          SceptileMega Sceptile
Type 1                        Grass
Type 2                       Dragon
HP                               70
Attack                          110
Defense                          75
Sp. Atk                         145
Sp. Def                          85
Speed                           145
Generation                        3
Legendary                     False
Name: 275, dtype: object
the value is grass 296 #                273
Name          Seedot
Type 1         Grass
Type 2           NaN
HP                40
Attack            40
Defense           50
Sp. Atk           30
Sp. Def           30
Speed             30
Generation         3
Legendary      False
Name: 296, dtype: object
the value is grass 297 #                 274
Name          Nuzleaf
Type 1          Grass
Type 2           Dark
HP                 70
Attack             70
Defense            40
Sp. Atk            60
Sp. Def            40
Speed              60
Generation          3
Legendary       False
Name: 297, dtype: object
the value is grass 298 #                 275
Name          Shiftry
Type 1          Grass
Type 2           Dark
HP                 90
Attack            100
Defense            60
Sp. Atk            90
Sp. Def            60
Speed              80
Generation          3
Legendary       False
Name: 298, dtype: object
the value is grass 309 #                   285
Name          Shroomish
Type 1            Grass
Type 2              NaN
HP                   60
Attack               40
Defense              60
Sp. Atk              40
Sp. Def              60
Speed                35
Generation            3
Legendary         False
Name: 309, dtype: object
the value is grass 310 #                  286
Name           Breloom
Type 1           Grass
Type 2        Fighting
HP                  60
Attack             130
Defense             80
Sp. Atk             60
Sp. Def             60
Speed               70
Generation           3
Legendary        False
Name: 310, dtype: object
the value is grass 344 #                 315
Name          Roselia
Type 1          Grass
Type 2         Poison
HP                 50
Attack             60
Defense            45
Sp. Atk           100
Sp. Def            80
Speed              65
Generation          3
Legendary       False
Name: 344, dtype: object
the value is grass 362 #                331
Name          Cacnea
Type 1         Grass
Type 2           NaN
HP                50
Attack            85
Defense           40
Sp. Atk           85
Sp. Def           40
Speed             35
Generation         3
Legendary      False
Name: 362, dtype: object
the value is grass 363 #                  332
Name          Cacturne
Type 1           Grass
Type 2            Dark
HP                  70
Attack             115
Defense             60
Sp. Atk            115
Sp. Def             60
Speed               55
Generation           3
Legendary        False
Name: 363, dtype: object
the value is grass 390 #                 357
Name          Tropius
Type 1          Grass
Type 2         Flying
HP                 99
Attack             68
Defense            83
Sp. Atk            72
Sp. Def            87
Speed              51
Generation          3
Legendary       False
Name: 390, dtype: object
the value is grass 432 #                 387
Name          Turtwig
Type 1          Grass
Type 2            NaN
HP                 55
Attack             68
Defense            64
Sp. Atk            45
Sp. Def            55
Speed              31
Generation          4
Legendary       False
Name: 432, dtype: object
the value is grass 433 #                388
Name          Grotle
Type 1         Grass
Type 2           NaN
HP                75
Attack            89
Defense           85
Sp. Atk           55
Sp. Def           65
Speed             36
Generation         4
Legendary      False
Name: 433, dtype: object
the value is grass 434 #                  389
Name          Torterra
Type 1           Grass
Type 2          Ground
HP                  95
Attack             109
Defense            105
Sp. Atk             75
Sp. Def             85
Speed               56
Generation           4
Legendary        False
Name: 434, dtype: object
the value is grass 451 #                406
Name           Budew
Type 1         Grass
Type 2        Poison
HP                40
Attack            30
Defense           35
Sp. Atk           50
Sp. Def           70
Speed             55
Generation         4
Legendary      False
Name: 451, dtype: object
the value is grass 452 #                  407
Name          Roserade
Type 1           Grass
Type 2          Poison
HP                  60
Attack              70
Defense             65
Sp. Atk            125
Sp. Def            105
Speed               90
Generation           4
Legendary        False
Name: 452, dtype: object
the value is grass 467 #                 420
Name          Cherubi
Type 1          Grass
Type 2            NaN
HP                 45
Attack             35
Defense            45
Sp. Atk            62
Sp. Def            53
Speed              35
Generation          4
Legendary       False
Name: 467, dtype: object
the value is grass 468 #                 421
Name          Cherrim
Type 1          Grass
Type 2            NaN
HP                 70
Attack             60
Defense            70
Sp. Atk            87
Sp. Def            78
Speed              85
Generation          4
Legendary       False
Name: 468, dtype: object
the value is grass 505 #                   455
Name          Carnivine
Type 1            Grass
Type 2              NaN
HP                   74
Attack              100
Defense              72
Sp. Atk              90
Sp. Def              72
Speed                46
Generation            4
Legendary         False
Name: 505, dtype: object
the value is grass 509 #                459
Name          Snover
Type 1         Grass
Type 2           Ice
HP                60
Attack            62
Defense           50
Sp. Atk           62
Sp. Def           60
Speed             40
Generation         4
Legendary      False
Name: 509, dtype: object
the value is grass 510 #                   460
Name          Abomasnow
Type 1            Grass
Type 2              Ice
HP                   90
Attack               92
Defense              75
Sp. Atk              92
Sp. Def              85
Speed                60
Generation            4
Legendary         False
Name: 510, dtype: object
the value is grass 511 #                                 460
Name          AbomasnowMega Abomasnow
Type 1                          Grass
Type 2                            Ice
HP                                 90
Attack                            132
Defense                           105
Sp. Atk                           132
Sp. Def                           105
Speed                              30
Generation                          4
Legendary                       False
Name: 511, dtype: object
the value is grass 516 #                   465
Name          Tangrowth
Type 1            Grass
Type 2              NaN
HP                  100
Attack              100
Defense             125
Sp. Atk             110
Sp. Def              50
Speed                50
Generation            4
Legendary         False
Name: 516, dtype: object
the value is grass 521 #                 470
Name          Leafeon
Type 1          Grass
Type 2            NaN
HP                 65
Attack            110
Defense           130
Sp. Atk            60
Sp. Def            65
Speed              95
Generation          4
Legendary       False
Name: 521, dtype: object
the value is grass 550 #                           492
Name          ShayminLand Forme
Type 1                    Grass
Type 2                      NaN
HP                          100
Attack                      100
Defense                     100
Sp. Atk                     100
Sp. Def                     100
Speed                       100
Generation                    4
Legendary                  True
Name: 550, dtype: object
the value is grass 551 #                          492
Name          ShayminSky Forme
Type 1                   Grass
Type 2                  Flying
HP                         100
Attack                     103
Defense                     75
Sp. Atk                    120
Sp. Def                     75
Speed                      127
Generation                   4
Legendary                 True
Name: 551, dtype: object
the value is grass 554 #               495
Name          Snivy
Type 1        Grass
Type 2          NaN
HP               45
Attack           45
Defense          55
Sp. Atk          45
Sp. Def          55
Speed            63
Generation        5
Legendary     False
Name: 554, dtype: object
the value is grass 555 #                 496
Name          Servine
Type 1          Grass
Type 2            NaN
HP                 60
Attack             60
Defense            75
Sp. Atk            60
Sp. Def            75
Speed              83
Generation          5
Legendary       False
Name: 555, dtype: object
the value is grass 556 #                   497
Name          Serperior
Type 1            Grass
Type 2              NaN
HP                   75
Attack               75
Defense              95
Sp. Atk              75
Sp. Def              95
Speed               113
Generation            5
Legendary         False
Name: 556, dtype: object
the value is grass 570 #                 511
Name          Pansage
Type 1          Grass
Type 2            NaN
HP                 50
Attack             53
Defense            48
Sp. Atk            53
Sp. Def            48
Speed              64
Generation          5
Legendary       False
Name: 570, dtype: object
the value is grass 571 #                  512
Name          Simisage
Type 1           Grass
Type 2             NaN
HP                  75
Attack              98
Defense             63
Sp. Atk             98
Sp. Def             63
Speed              101
Generation           5
Legendary        False
Name: 571, dtype: object
the value is grass 606 #                  546
Name          Cottonee
Type 1           Grass
Type 2           Fairy
HP                  40
Attack              27
Defense             60
Sp. Atk             37
Sp. Def             50
Speed               66
Generation           5
Legendary        False
Name: 606, dtype: object
the value is grass 607 #                    547
Name          Whimsicott
Type 1             Grass
Type 2             Fairy
HP                    60
Attack                67
Defense               85
Sp. Atk               77
Sp. Def               75
Speed                116
Generation             5
Legendary          False
Name: 607, dtype: object
the value is grass 608 #                 548
Name          Petilil
Type 1          Grass
Type 2            NaN
HP                 45
Attack             35
Defense            50
Sp. Atk            70
Sp. Def            50
Speed              30
Generation          5
Legendary       False
Name: 608, dtype: object
the value is grass 609 #                   549
Name          Lilligant
Type 1            Grass
Type 2              NaN
HP                   70
Attack               60
Defense              75
Sp. Atk             110
Sp. Def              75
Speed                90
Generation            5
Legendary         False
Name: 609, dtype: object
the value is grass 617 #                  556
Name          Maractus
Type 1           Grass
Type 2             NaN
HP                  75
Attack              86
Defense             67
Sp. Atk            106
Sp. Def             67
Speed               60
Generation           5
Legendary        False
Name: 617, dtype: object
the value is grass 651 #                 590
Name          Foongus

In [43]:
## Accessing the rows which has only specific type of data using LOC function

df.loc[df['Type 2']=='Poison']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
16,13,Weedle,Bug,Poison,40,35,30,20,20,50,1,False
17,14,Kakuna,Bug,Poison,45,25,50,25,25,35,1,False
18,15,Beedrill,Bug,Poison,65,90,40,45,80,75,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
49,44,Gloom,Grass,Poison,60,65,70,85,75,40,1,False
50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False
53,48,Venonat,Bug,Poison,60,55,50,40,55,45,1,False
54,49,Venomoth,Bug,Poison,70,65,60,90,75,90,1,False
75,69,Bellsprout,Grass,Poison,50,75,35,70,30,40,1,False
76,70,Weepinbell,Grass,Poison,65,90,50,85,45,55,1,False
77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False
78,72,Tentacool,Water,Poison,40,40,35,50,100,70,1,False
79,73,Tentacruel,Water,Poison,80,70,65,80,120,100,1,False
99,92,Gastly,Ghost,Poison,30,35,30,100,35,80,1,False
100,93,Haunter,Ghost,Poison,45,50,45,115,55,95,1,False
101,94,Gengar,Ghost,Poison,60,65,60,130,75,110,1,False
102,94,GengarMega Gengar,Ghost,Poison,60,65,80,170,95,130,1,False
181,167,Spinarak,Bug,Poison,40,60,40,40,40,30,2,False
182,168,Ariados,Bug,Poison,70,90,70,60,60,40,2,False
227,211,Qwilfish,Water,Poison,65,95,75,55,55,85,2,False
292,269,Dustox,Bug,Poison,60,50,70,50,90,65,3,False
344,315,Roselia,Grass,Poison,50,60,45,100,80,65,3,False
451,406,Budew,Grass,Poison,40,30,35,50,70,55,4,False
452,407,Roserade,Grass,Poison,60,70,65,125,105,90,4,False
603,543,Venipede,Bug,Poison,30,45,59,30,39,57,5,False
604,544,Whirlipede,Bug,Poison,40,55,99,40,79,47,5,False
605,545,Scolipede,Bug,Poison,60,100,89,55,69,112,5,False
651,590,Foongus,Grass,Poison,69,55,45,55,55,15,5,False
652,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False

In [51]:
# reading a specific data we have to use it in a different way

df.iloc[16,5] ## 16th Row 1st column

35

In [54]:
df.describe() ## Stats function

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

# Sorting the values

In [62]:
df.sort_values(["Name"]) ## ascending values
df.sort_values(["Name"],ascending=False) ## descending values

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False

# Making Changes to Data

In [83]:
# adding total to check which pokeman is better
# option 1 add using columns

#df["Total"]=df["HP"] + df["Attack"] + df["Defense"] + df["Sp. Atk"] + df["Sp. Def"] + df["Speed"]

#df["Total"]=df.iloc[:,4:10].sum(axis=1)

# suppose if i wanted to move total in betwen type 2 and HP and also to add the values

cols=list(df.columns.values)
df[cols[0:4]+[cols[-1]]+cols[4:12]]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [75]:
#df.drop("Total",axis=1,inplace=True)

In [84]:
cols

['#',
 'Name',
 'Type 1',
 'Type 2',
 'HP',
 'Attack',
 'Defense',
 'Sp. Atk',
 'Sp. Def',
 'Speed',
 'Generation',
 'Legendary',
 'Total']

# Saving data into new file or csv or format

In [86]:
df.to_csv("modified.csv",index=False)

# Filtering the Data