# Wroking Session

In [10]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [8]:
df=pd.Series([1,2,3,4,"man","women"])

In [9]:
print(df)

0        1
1        2
2        3
3        4
4      man
5    women
dtype: object

In [14]:
df=pd.DataFrame(randn(8,5),index=list("ABCDEFGH"),columns=['Score1','Score2','Score3','Score4','Score5'])

In [15]:
df

     Score1    Score2    Score3    Score4    Score5
A -0.508996  1.931327 -1.777036  0.250706  2.062294
B  1.110592 -0.009629  1.073900 -0.105784  0.529291
C  1.262759 -0.019416 -0.143990 -1.403154  1.255394
D -0.484434 -1.359044  0.194218 -0.288573  1.464640
E  0.044160 -0.714951 -0.799536 -1.378870  0.954425
F  0.070754  0.649472 -0.242962  0.331902  0.826200
G  0.356971 -0.442203  0.518362 -0.870503  0.481485
H -1.661097 -1.604106 -0.588863  0.819189  0.019159

In [16]:
df.Score1 # Method 1 to access the column data

A   -0.508996
B    1.110592
C    1.262759
D   -0.484434
E    0.044160
F    0.070754
G    0.356971
H   -1.661097
Name: Score1, dtype: float64

In [17]:
df['Score1'] ## Second method

A   -0.508996
B    1.110592
C    1.262759
D   -0.484434
E    0.044160
F    0.070754
G    0.356971
H   -1.661097
Name: Score1, dtype: float64

In [24]:
df[["Score1","Score2","Score3"]]
  ## Accessing multiple columns

     Score1    Score2    Score3
A -0.508996  1.931327 -1.777036
B  1.110592 -0.009629  1.073900
C  1.262759 -0.019416 -0.143990
D -0.484434 -1.359044  0.194218
E  0.044160 -0.714951 -0.799536
F  0.070754  0.649472 -0.242962
G  0.356971 -0.442203  0.518362
H -1.661097 -1.604106 -0.588863

In [32]:
df.loc['A']

Score1   -0.508996
Score2    1.931327
Score3   -1.777036
Score4    0.250706
Score5    2.062294
Name: A, dtype: float64

In [39]:
df.iloc[1,2] ## 1st row and 2nd Column

1.0738998388066523